# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-gravitino
bin/
dist/

# Test binary
*.test

# Output of go coverage
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go vendor
vendor/

# Terraform
**/.terraform/*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
terraform-provider-*
plan.bin
*.tfvars
*.log
*.env
dev.tfrc
